div {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container.widgit {
  background: whitesmoke;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.container.id {
  background: green;

  display: flex;
}

.container.balance {
  background: red;

  display: flex;
}

.container.transactions {
  background: blue;

  display: flex;
  flex-direction: column;
}